## Project Specific

main.js
*.map
data.json
obsidian-stk-dev-vault/.obsidian/*


## CI/Testing Output
.outputs/
.output/

## Environment Files
.env

## Temporary/Local Directories
.local/
tmp/

## System Files
.DS_Store
Thumbs.db

## IDE's
# JetBrains
.idea/*
!.idea/*.iml
!.idea/runConfigurations
!.idea/dictionaries
!.idea/copyright

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Sublime
*.sublime-workspace

## Compiled Output
/dist
/local-lib
/tmp
/out-tsc
/bazel-out

## Dependencies
/node_modules
**/node_modules

